.sub-container{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    // text-align: center;

    h2{
        padding: 20px;
    }

    .btn{
        cursor: pointer;
        background: wheat;
        border: 1px solid green;
    }
}
