
<div class="total-like">
  <h2>Total Like: {{totalLike}}</h2>
</div>


<div class="container">
  <div class="collection-section">
    <div class="section-title">
      <h1
        style="
          text-align: center;
          font-weight: 1200;
          font-size: 35px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Top Picks for you
      </h1>
      <div class="description">
        <h3 style="text-align: center">
          find a bright ideal to suit your taste with out great selection of
          suspension, floor and table lights.
        </h3>
      </div>
    </div>
    <div class="product-cards">
        <ng-container *ngFor="let i of items; let count = index">
          <app-product-card (passDataEvent)="onLikeClicked($event)" [item]="i" [name]="'Gallu boy'"></app-product-card>
        </ng-container>
    </div>
  </div>
  <!-- This is a comment -->
</div>
