<div class="body">
  <ul class="topnav">
    <ul class="nav_left">
      <ul class="nav_left_top">
        <i _ngcontent-ng-c1140278300 style="color: white;padding-top: 10px;" class="fa fa-phone">  16794</i>
        <ul class="buttons">
          <button class="button1">
            <h3>Installation & Repair</h3>
          </button>
          <button class="button2">
            <h3>Offers</h3>
    
          </button>
          <button class="button3">
            <h3>AC Calculator</h3>
    
          </button>
  
        </ul>
        <i _ngcontent-ng-c1140278300 style="color: white;padding-top: 10px;;" class="fa fa-mobile">App</i>
        
  
      </ul>
      <li style="display: flex; justify-content: space-between;">
        <ul class="top_nav_part2">
          <ul class="logo">
            <img src="https://esquireelectronicsltd.softlabit.com/assets/images/brand/logo/Logo-with-text-white.png" alt style="margin-top: 17px;" srcset style="margin-top: 17px;">
            
    
          </ul>
  
          <ul class="search-container">
      
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
  
           
            
          </ul>
  
          <i _ngcontent-ng-c1140278300 style="color: white;margin: 10px;" class="fa fa-heart"></i>
          <i _ngcontent-ng-c1140278300 style="color: white;margin: 10px;" class="fa fa-map-marker-alt"></i>
          <i _ngcontent-ng-c1140278300 style="color: white;margin: 10px;" class="fa-solid fa-shuffle"></i>
          <p _ngcontent-ng-c1140278300 style="color: white;margin: 10px;" routerlink="/login" tabindex="0">Login / Sign Up</p>
          <i _ngcontent-ng-c1140278300 style="color: white;margin: 10px;" class="fa fa-user"></i>
  
        </ul>
        
  
        
  
        
  
      </li>
    </ul>
    <ul class="nav_right">
      <ul class="nav_right_top">
        
  
  
      </ul>
      <li style="display: flex; justify-content: space-between;">
        
  
        
  
      </li>
    </ul>
    
  </ul>
  
<div class="container">
  <div class="row2">
    <div class="left" style="background-color:white;">
      
      <ul id="myMenu">
        <li style="display: flex; justify-content: space-between;"><a href="#">LED TV</a>
          <i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i>
        </li>
        <li style="display: flex; justify-content: space-between;"><a href="#">Microwave Oven</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <li style="display: flex; justify-content: space-between;"><a href="#">Personal Care</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <li style="display: flex; justify-content: space-between;"><a href="#">Freezer</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <li style="display: flex; justify-content: space-between;"><a href="#">Airconditioner</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <li style="display: flex; justify-content: space-between;"><a href="#">Refregratior</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <li style="display: flex; justify-content: space-between;"><a href="#">Small-Kichen-Appliences</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <li style="display: flex; justify-content: space-between;"><a href="#">After-Sales-Support</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <li style="display: flex; justify-content: space-between;"><a href="#">Washing Machiine</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        <ul class="last_menu">
          <ul class="menu_img">
            <img src="https://esquireelectronicsltd.softlabit.com/assets/images/brand/icon/application.png" alt style="margin-top: 17px;" srcset style="margin-top: 17px;">
  
          </ul>
          
          <li style="display: flex; justify-content: space-between;"><a href="#">See All</a><i _ngcontent-ng-c1268195286 style="margin-top: 17px;" class="fa fa-angle-right"></i></li>
        </ul>
      </ul>
    </div>
    <div class="right">
      <img src="https://api.esquireelectronicsltd.softlabit.com/api/upload/images/main-banner4532-7167-3839.jpg?resolution=5080_1200" alt="" srcset="">
    </div>
    
  </div>
</div>
  <div class="container">
    <div class="pictures">
      <img src="https://api.esquireelectronicsltd.softlabit.com/api/upload/images/main-banner4532-7167-3839.jpg?resolution=5080_1200" alt="" sizes="" srcset="">
      <img src="https://api.esquireelectronicsltd.softlabit.com/api/upload/images/main-banner4191-7932-6f3c.webp?resolution=5080_1200" alt="" srcset="">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/ac-cal3.svg" alt="" srcset="">
        <h3>Calculator</h3>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/blog.svg" alt="" srcset="">
        <h3>Blog</h3>
        
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/location.svg" alt="" srcset="">
        <h3>Location</h3>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/compare.svg" alt="" srcset="">
        <h3>Compare</h3>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/arrival.svg" alt="" srcset="">
          <h3>New Arrival</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/warrenty.svg" alt="" srcset="">
          <h3>Warrenty</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/top.svg" alt="" srcset="">
          <h3>Top Banners</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/populars.svg" alt="" srcset="">
          <h3>Installation & Repair</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/email.png" alt="" srcset="">
          <h3>Contact</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
            <div class="faq_img">
                <img src="https://esquireelectronicsltd.softlabit.com/assets/icon/reviews.svg" alt="" srcset="">

            </div>
          
          <h3>FAQ</h3>
        </div>
      </div>
  </div>

</div>

