

.main-div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 80vh;
}

.grid1{
    background-color: yellow;
    position: relative;
   
}
.main-grid1-div{
    margin-top: 10px;
    background-color: gray;
}

.position{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.p1{
    position: relative;
   
}
.p11{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: cornflowerblue;
    border-radius: 50%;
    padding: 30px;
    z-index: 999;
}

.p2{
    position: relative;
    
}
.p22{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: brown;
     border-radius: 50px 0 0px 0px;
    padding: 32px;
    z-index: 9999;
}
.grid2{
    background-color: blueviolet;
}


@media screen and (min-width:500px){
    .main-div{
        display: grid;
        grid-template-columns: 1fr;
    }
}