
.box-container{
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top:60px;
    justify-items: center;
}

.upper{
    display: grid;
    grid-template-columns:  1.2fr 0.8fr;
    flex-direction: row;
    gap: 10px;
    width: 80%;
}

.lower{
    background-color: blue;
    height: 200px;
    width: 80%;
}

.left{
    background-color: blue;
    height: 300px;
}

.right{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}

.item{
    background-color: blue;
}

@media screen and (max-width: 512px) {
    .upper {
        grid-template-columns:  1fr;
        grid-template-rows: repeat(2,1fr);
    }

  }