<div class="body">
    <div class="split-layout">
        <div class="left-panel">
           
        </div>
        <div class="right-panel">
            <!-- Navigation or additional content goes here -->
            <ul>
                <li style=" background-color: rgb(88, 88, 255);"><a href="#">a</a></li>
                <li style=" background-color: rgb(88, 88, 255);"><a href="#">a</a></li>
                <li style=" background-color: rgb(88, 88, 255);"><a href="#">a</a></li>
                <li style=" background-color: rgb(88, 88, 255);"><a href="#">a</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footer">
            
    </div>
</div>
