<!-- Here the codes are for Card Style... -->

<!-- <div class="container">

    <div class="card-styles">
        <div class="card">
            <div class="img-box">
                <img class="img" src="./assets/images/wallet/Long-Wallet.jpg" alt="Long Wallet">
                <div class="new">new</div>
                <div class="overlay">
                    <a class="icon" href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>

            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "> (11)</span>
                <h3 class="heading">Best selling leather long wallet (Chocolate)</h3>
                <p class="price"><span class="offer-price"><del>$1250</del></span>$670</p>
                <p class="discount">Discount: <span class="discounted">40 %</span></p>
                <button type="submit" class="btn"><i class="fa fa-cart-plus"></i>Add </button>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img class="img" src="./assets/images/wallet/Long-Wallet.jpg" alt="Long Wallet">
                <div class="new">new</div>
                <div class="overlay">
                    <a class="icon" href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>

            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "> (11)</span>
                <h3 class="heading">Best selling leather long wallet (Chocolate)</h3>
                <p class="price"><span class="offer-price"><del>$1250</del></span>$670</p>
                <p class="discount">Discount: <span class="discounted">40 %</span></p>
                <button type="submit" class="btn"><i class="fa fa-cart-plus"></i>Add </button>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img class="img" src="./assets/images/wallet/Long-Wallet.jpg" alt="Long Wallet">
                <div class="new">new</div>
                <div class="overlay">
                    <a class="icon" href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>

            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "> (11)</span>
                <h3 class="heading">Best selling leather long wallet (Chocolate)</h3>
                <p class="price"><span class="offer-price"><del>$1250</del></span>$670</p>
                <p class="discount">Discount: <span class="discounted">40 %</span></p>
                <button type="submit" class="btn"><i class="fa fa-cart-plus"></i>Add </button>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img class="img" src="./assets/images/wallet/Long-Wallet.jpg" alt="Long Wallet">
                <div class="new">new</div>
                <div class="overlay">
                    <a class="icon" href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "> (11)</span>
                <h3 class="heading">Best selling leather long wallet (Chocolate)</h3>
                <p class="price"><span class="offer-price"><del>$1250</del></span>$670</p>
                <p class="discount">Discount: <span class="discounted">40 %</span></p>
                <button type="submit" class="btn"><i class="fa fa-cart-plus"></i>Add </button>
            </div>
        </div>
    </div>


</div> -->

<!-- Here the codes are for Flex Box designing.. -->

<div class="container">
    <div class="flex-box">
        <div class="left"></div>

        <div class="right">
            <div class="right1"></div>
            <div class="right2"></div>
            <div class="right3"></div>
            <div class="right4"></div>
        </div>

        <div class="bottom"></div>
    </div>
</div>